html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}



/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */



.onepage{
  background-color: white;
  height: 100%;
  /* top: 0;
  left: 0; */
}


/* .funky {

  position: relative;
  width:10%;
  height:90%
  animation-name: getFunky;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: width 3s, height 3s;
}

.funky:hover {
  width : 100%;
  height : 100%;
} */


/* #research{
  background-color: #edf8fa;
  min-height: 100%;
} */
/* #course{
  background-color: #e8fcfc;
} */
#awards{
  /* background-color: #f5f6ff; */
  margin-bottom: 10%;
}

#about{
  /* background-color: #f5f6ff; */
  padding: 20px;
}


.footer{
  left: 0;
  bottom: 0;
  width:100%;
  /* color: white; */
  text-align: center;
  /* margin:10px; */
}
.float1{
	position:fixed;
	width:25px;
	height:25px;
	bottom:40%;
	left:18%;
	background-color:#2b2e4a;
	color:#FFF;
	border-radius:20px;
	text-align:center;
  /* box-shadow: -3px 5px 10px #999; */
  box-shadow: 6px 6px 12px #151515,
  -6px -6px 12px #ffffff;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.float2{
	position:fixed;
	width:25px;
	height:25px;
	bottom:40%;
	left:82%;
	background-color:#3c415c;
	color:#FFF;
	border-radius:20px;
	text-align:center;
  box-shadow: 6px 6px 12px #151515,
  -6px -6px 12px #ffffff;
  animation-name: example2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {background-color:#2b2e4a; left:82%; bottom:30%;}
  25% {background-color:#2b2e4a; left:82%; bottom:65%;}
  50%  {background-color:#3c415c; left:15%; bottom:65%;}
  75%  {background-color:#3c415c; left:15%; bottom:30%;}
  100%  {background-color:#2b2e4a; left:82%; bottom:30%;}
  /* 100%  {background-color:green; right:40px; bottom:40%;} */
  /* 100% {background-color:red; right:40px; bottom:30%;} */
}

@keyframes example2 {
  0% {background-color:#3c415c; left:25%; bottom:30%;}
  25% {background-color:#3c415c; left:82%; bottom:65%;}
  50%  {background-color:#3c415c; left:15%; bottom:65%;}
  100%  {background-color:#3c415c; left:15%; bottom:30%;}
  /* 100%  {background-color:green; right:40px; bottom:40%;} */
  /* 100% {background-color:red; right:40px; bottom:30%;} */
}

/* @keyframes getFunky {
  0% {background-color:white; top:50%;}
  50% {background-color:lightblue; top: 60%}
  100%  {background-color:white; top: 60%}
  /* 100%  {background-color:green; right:40px; bottom:40%;} */
  /* 100% {background-color:red; right:40px; bottom:30%;} */
} */
